* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  word-wrap: break-word;
  outline: none;
}

#title {
  font-size: 2em;
  margin-bottom: 10px;
}

#description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

svg {
  margin: auto;
}

.tile {
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip {
  position: absolute;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  font-size: 0.8em;
  max-width: 300px;
}

#legend {
  font-size: 0.7em;
}

.tile:hover {
  stroke: #000;
  stroke-width: 1px;
}

.tile text {
  pointer-events: none; /* Prevent text from blocking hover events */
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Improve readability */
}

#dataset-links {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#dataset-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #1f77b4;
  font-weight: bold;
  outline: none;
  padding: 0.5rem;
}

#dataset-links a:hover {
  transform: scale(1.1);
}
