@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  margin-bottom: 10px;
  padding: 0.5rem;
}

#description {
  font-size: clamp(1rem, 2vw, 1.3rem);
  margin-bottom: 20px;
  padding: 0.5rem;
  line-height: 1.3;
}

svg {
  margin: auto;
}

.tile {
  stroke: #fff;
  stroke-width: 1px;
}

#tooltip {
  position: absolute;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  font-size: clamp(0.5rem, 1vw, 1rem);
  max-width: 200px;
}

#legend {
  font-size: 0.7em;
}

.tile:hover {
  stroke: #000;
  stroke-width: 1px;
}

.tile text {
  pointer-events: none; /* Prevent text from blocking hover events */
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Improve readability */
}

#dataset-links {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

#dataset-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #1f77b4;
  font-weight: bold;
  outline: none;
  padding: 0.5rem;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

#dataset-links a:hover {
  transform: scale(1.1);
}
